[alias]
    tree = log -n 25 --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    amend = commit --amend --reuse-message=HEAD
[core]
    editor = subl -w
    autocrlf = input
    trustctime = false
[color "status"]
    changed = yellow
    added = green
    untracked = red
[credential]
    helper = osxkeychain
[help]
    autocorrect = 50
[push]
    default = simple
