[alias]

    tree = log -n 25 --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    amend = commit --amend --reuse-message=HEAD
    discard = checkout --
    unstage = reset -q HEAD --

[branch]

    autosetupmerge = always
    autosetuprebase = always

[core]

    editor = subl -w
    autocrlf = input
    trustctime = false
    whitespace = space-before-tab,tab-in-indent,trailing-space,tabwidth=4

[color "status"]

    changed = yellow
    added = green
    untracked = red

[credential]

    helper = osxkeychain

[diff]

    tool = ksdiff

[difftool "ksdiff"]

    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[difftool]

    prompt = false

[merge]

    tool = ksdiff

[mergetool "ksdiff"]

    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true

[mergetool]

    prompt = false

[filter "lfs"]

    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[help]

    autocorrect = 50

[push]

    default = simple

[pull]

    rebase = true

[rebase]

    autoStash = true
    updateRefs = true

[rerere]

    enabled = true
    autoupdate = true

